* {
  color: var(--dark-black);
  font-family: Quicksand, Roboto, OpenSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
::placeholder,
.placeholder {
  color: var(--dark-gray);
  font-size: 16px;
}
code { font-family: monospace; }

.hide { display: none !important; }
a{ text-decoration: none; }

/* ---------------------------------------------------------------------------------- Containers */
#Main {
  background-color: var(--default-white);
  border: 1px solid #0000;
  box-sizing: border-box;
  min-height: calc(100vh - 160px);
}
header{
  align-items: center;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding: 10px;
}
header h1 { color: var(--light-gray); }

.container {
  margin: auto;
  width: 80%;
}
@media only screen and (max-width:767px){
  .container { width: 100%; }
}
/* ---------------------------------------------------------------------------------- Navigation */
nav {
  align-items: center;
  background-color: var(--dark-black);
}
nav .container{
  display: flex;
}
nav a, nav p {
  align-items: center;
  background-color: var(--dark-black);
  color: var(--light-gray);
  display: flex;
  min-height: 40px;
  padding: 0 20px;
  text-decoration: none;
  transition: .2s ease;
}
nav a:hover,
nav a.active { background-color: var(--default-black-75); }
nav a:active { background-color: var(--default-black); }

.fsb {
  justify-content: space-between;
}
/* ---------------------------------------------------------------------------------- Pagination */
.pagination {
  margin: 20px 0;
}

.pagination-row {
  /* display: grid;
  grid-template-columns: repeat( attr(data-cols integer), 1fr);
  grid-column-gap: 10px; */
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 40px;
  padding: 0 10px;
}
.pagination-1-col, .pagination-2-col,
.pagination-3-col, .pagination-4-col,
.pagination-5-col, .pagination-6-col,
.pagination-7-col, .pagination-8-col,
.pagination-col-item {
  align-items: center;
  display: flex;
  padding: 5px;
}
.pagination-1-col { width: 100%; }
.pagination-2-col { width: 50%; }
.pagination-3-col { width: 33.33%; }
.pagination-4-col { width: 25%; }
.pagination-5-col { width: 20%; }
.pagination-6-col { width: 16.66%; }
.pagination-7-col { width: 14.2857%; }
.pagination-8-col { width: 12.5%; }
.pagination-col-item {
  flex-basis: 20px;
  width: 20px;
}

.pagination-nav { margin-bottom: 15px; }
.pagination-nav,
.pagination-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.pagination-list-item,
.pagination-list-item-prev,
.pagination-list-item-next {
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  display: flex;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  line-height: 16px;
  transition: .2s ease;
  user-select: none;
}
.pagination-list-item{ width: 30px;}

.pagination-list-item.active,
.pagination-list-item:hover,
.pagination-list-item-prev.active,
.pagination-list-item-prev:hover,
.pagination-list-item-next.active,
.pagination-list-item-next:hover{
  background-color: var(--dark-blue-75);
}

.pagination-list-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination-list-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination-list-item-prev,
.pagination-list-item-next {
  border-radius: 5px;
  margin: 0 5px;
  padding: 0 10px;
}

.pagination-head {
  background-color: var(--dark-yellow);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 600;
}
.pagination-body.hide {
  display: none;
}
.pagination-body:nth-child(2n) {
  background-color: var(  --light-yellow);
}
.pagination-body:nth-child(2n+1) {
  background-color: var(--light-gray);
}
.pagination-body:last-child,
.pagination-body:nth-child(n+10) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ---------------------------------------------------------------------------------- Formulario */
.formulario {
  align-items: center;
  border: 1px solid var(--dark-gray-75);
  border-radius: 5px;
  box-shadow: 0 0 2px var(--dark-gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 20px auto;
  width: 500px;
}
@media only screen and (max-width:767px){
  .formulario{ width: 95%; }
}

.form-header {
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-gray-75);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: var(--light-gray);
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  margin: 0 -2px;
  padding: 30px;
  width: calc(100% + 2px);
}
.form-body {
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
}
.form-body button {
  margin-top: 10px;
  width: 100%;
}
fieldset {
  border: none;
  margin: 0 0 20px;
  padding: 0;
}
legend {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 5px;
}
/* --------------------------------------------------------------------------------------- Input */
.input-container {
  border: 1px solid white;
  margin: 10px 0;
  position: relative;
}
.input-container label {
  color: var(--dark-gray);
  cursor: text;
  font-size: 16px;
  position: absolute;
  left: 5px;
  user-select: none;
  top: 10px;
  transition: .3s ease;
}
.input-container input {
  background: none;
  border: none;
  border-bottom: 1.5px solid var(--dark-blue-30);
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 40px;
  outline: none;
  padding: 5px;
  transition: .3s ease;
  width: 100%;
}
.input-container input::placeholder { opacity: 0; transition: .3s ease; }
.input-container input:focus::placeholder { opacity: 1; }
.input-container input:focus { border-bottom: 1.5px solid var(--dark-blue); }
.input-container input:focus ~ label,
.input-container input:valid ~ label,
.input-container input.has-text ~ label {
  color: var(--light-black);
  font-size: 14px;
  top: -12px;
}
/* -------------------------------------------------------------------------------------- Select */
.select-container {
  position: relative;
}
/* .select-head {} */
.select-body{
  background-color: var(--default-white);
  border-radius: 5px;
  display: block;
  left: -1px;
  max-height: 175px;
  opacity: 0;
  overflow: auto;
  position: absolute;
  scroll-behavior: smooth;
  top: 45px;
  transition: .3s ease;
  width: calc(100% + 2px);
  z-index: -1;
}
.select-container input:focus ~ .select-body { opacity: 1; z-index: 50;}
.select-item {
  align-items: center;
  background-color: var(--dark-blue-30);
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  color: var(--dark-black);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  margin: -1px 0;
  min-height: 40px;
  padding: 5px;
  transition: .3s ease;
}
.select-item:hover,
.select-item.selected {
  background-color: var(--dark-blue-50);
}


/* -------------------------------------------------------------------------------------- Margin */
.mt-10 { margin-top: 10px; }
.mr-10 { margin-right: 10px; }
.mb-10 { margin-bottom: 10px; }
.ml-10 { margin-left: 10px; }

/* -------------------------------------------------------------------------------------- Button */
.btn {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  color: var(--light-gray);
  cursor: pointer;
  font-size: 16px;
  min-height: 40px;
  outline: none;
  padding: 5px 15px;
  transition: .2s ease;
}
.btn:hover  { background-color: var(--dark-blue-75); }
.btn:active { background-color: var(--dark-blue-50); }

/* ------------------------------------------------------------------------------------ Columns */
.col-2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.col-4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

/* --------------------------------------------------------------------------------------- Links */
.link {
  background: none;
  border: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}
.fa-trash-alt,
.fa-folder {
  color: var(--dark-black);
  transition:  .2s ease;
}
.fa-trash-alt:hover {
  color: var(--dark-orange);
  transform: scale(1.2);
}
.fa-folder:hover {
  color: var(--default-green);
  transform: scale(1.2);
}
.fa-trash-alt:active {
  color: var(--dark-orange-85);
  transform: scale(1.1);
}
.fa-folder:active {
  color: var(--default-green-85);
  transform: scale(1.1);
}

/* ----------------------------------------------------------------------------------- Card-info */

.card-info {
  align-items: center;
  border: 1px solid var(--dark-gray-75);
  border-radius: 5px;
  box-shadow: 0 0 2px var(--dark-gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 20px auto;
  width: 500px;
}
@media only screen and (max-width:767px){
  .card-info{ width: 95%; }
}

.card-header {
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-gray-75);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: var(--light-gray);
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  margin: 0 -2px;
  padding: 30px;
  width: calc(100% + 2px);
}

.card-body {
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
}

.card-field {
  border: 1px solid white;
  margin: 10px 0;
  position: relative;
}

.card-data {
  align-items: center;
  background: none;
  border: none;
  border-bottom: 1.5px solid var(--dark-blue);
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 40px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.card-label {
  color: var(--light-black);
  font-size: 14px;
  left: 5px;
  position: absolute;
  top: -12px;
}